body {
    margin: 0;
    height: 200vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
}

.container {
    position: relative;
    width: 2px;
    height: 100%;
    background: #333;
}

.line {
    width: 2px; 
  height: 100%;  
  border: solid 2px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%/100% 100% 0 0;
}

.circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    background: #e74c3c;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


  